<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.min.css"
      rel="stylesheet"
    />
    <title>Dashboard | Attache</title>
  </head>
  <body>
    <h1>bonjour</h1>
    <button id="logoutBtn" class="py-2 px-3 bg-blue-500 text-white">
      Deconnexion
    </button>
    <div id="notifications" class="fixed top-4 right-4 space-y-2"></div>
  </body>
  <script
    type="module"
    src="../../assets/javascript/attacher/dashboard.js"
  ></script>
  <script type="module" src="../../router/router.js"></script>
</html>
